.cadastro-banco{
	background-color: var(--dark-blue);
	width: fit-content;
	padding: 4rem;
	border-radius: 1.5rem;
	h2{
		background: var(--light-blue);
		width: fit-content;
		padding: .5rem 1.5rem;
		border-radius: 2.5rem;
		color: var(--off-black);
		margin-top: -5rem;
		margin-bottom: 2rem;
	}
	form{
		margin: 0 auto;
		width: 100%;

		p{
			color: var(--light-blue);
			text-transform: uppercase;
			// margin: 0;
			margin-bottom: .2rem;
			font-weight: bold;
			font-size: .9rem;
			transition: .2s;
		}

		input, select{
			background: var(--light-blue);
			border: none;
			border-radius: 2.5rem;
			box-sizing: border-box;
			width: 100%;
			padding: .5rem;
		}

		button{
			cursor: pointer;
			margin-top: 2rem;
			border: none;
			width: 100%;
			background: var(--primary-blue);
			border-radius: 2.5rem;
			padding: .5rem;
			color: var(--off-white);
			text-transform: capitalize;
		}

	}
}